{
  "overrides": [
    {
      "extends": ["@grafana/eslint-config"],
      "files": ["./**/*.{ts,tsx}"],
      "rules": {
        "react-hooks/rules-of-hooks": "off",
        "react-hooks/exhaustive-deps": "off"
      }
    }
  ]
}
