openapi: 3.0.0
info:
  title: simPod JSON Datasource API
  description: API definition for the Grafana plugin simpod json datasource
                https://github.com/simPod/grafana-json-datasource
  version: "0.1"
paths:
  /:
    get:
      summary: "Test connection"
      description: Used for "Test connection" on the datasource config page
      operationId: api.endpoints.datasource_health
      tags:
        - Health Check
      responses:
        '200':
          description: Positive health check
  /metrics:
    post:
      summary: List available metrics
      description: >-
        In `Panel > Queries` page. It will send the request to obtain the available metrics.
        The request body will carry the current metric and payload. In
        the `Builder` mode, if the `reloadMetric` value in the load
        configuration is true, the api will also be triggered when the value is
        modified / switched.
      operationId: api.endpoints.list_metrics
      tags:
        - Visualization
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                metric:
                  type: string
                  description: The currently selected Metric option.
                payload:
                  type: object
                  properties: {}
                  description: >-
                    The currently selected/entered payload options and values.
                    Key is the name of the payload, and value is the value of
                    the payload.
            example: {"metric": "DescribeCloudWatchDataList", "payload": {"namespace": "AWS/RDS"}}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    label:
                      type: string
                      description: 'If the value is empty, use the value as the label'
                    value:
                      type: string
                      description: The value of the option.
                    payloads:
                      type: array
                      items:
                        type: object
                        properties:
                          label:
                            type: string
                            description: >-
                              The label of the payload. If the value is empty,
                              use the name as the label.
                          name:
                            type: string
                            description: 'The name of the payload. '
                          type:
                            type: string
                            description: |-
                              If the value is select, the UI of the payload is a radio box.
                              If the value is multi-select, the UI of the payload is a multi selection box.
                              if the value is input, the UI of the payload is an input box.
                              if the value is textarea, the UI of the payload is a multiline input box.
                              The default is input.
                            enum:
                              - select
                              - multi-select
                              - input
                              - textarea
                            default: input
                          placeholder:
                            type: string
                            description: Input box / selection box prompt information.
                          reloadMetric:
                            type: boolean
                            description: >-
                              Whether to overload the metrics API after
                              modifying the value of the payload.
                            default: false
                          width:
                            type: integer
                            description: >-
                              Set the input / selection box width to a multiple
                              of 8px.
                          options:
                            type: array
                            items:
                              type: object
                              properties:
                                label:
                                  type: string
                                  description: The label of the payload select option.
                                value:
                                  type: string
                                  description: The label of the payload value.
                              required:
                                - value
                            description: >-
                              If the payload type is select / multi-select, the
                              list is the configuration of the option list.
                        required:
                          - name
                      description: Configuration parameters of the payload.
                  required:
                    - value
                    - payloads
              examples:
                '1':
                  summary: Success
                  value:
                    - label: Describe cloudwatch data list
                      value: DescribeCloudWatchDataList
                      payloads:
                        - label: Namespace
                          name: namespace
                          type: select
                          placeholder: Please select namespace
                          reloadMetric: true
                          width: 10
                          options:
                            - label: EC2
                              value: AWS/EC2
                            - label: RDS
                              value: AWS/RDS
                        - name: metric
                          type: select
                        - name: instanceId
                          type: select
                    - value: DescribeCloudWatchDataLast
                      payloads:
                        - name: namespace
                          type: select
                        - name: metric
                          type: select
                        - name: instanceId
                          type: multi-select
  /options:
    post:
      summary: List the available payload options.
      description: >-
        When the payload `type` is `select` or `multi-select` and the payload
        `options` configuration is empty, expanding the drop-down menu will
        trigger this API. The request body will carry the current metric and
        payload.
      operationId: api.endpoints.list_options
      tags:
        - Visualization
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                metric:
                  type: string
                  description: Current metric.
                payload:
                  type: object
                  properties: {}
                  description: Current payload.
                name:
                  type: string
                  description: The payload name of the option list needs to be obtained.
              required:
                - metric
                - payload
                - name
            example:
              metric: DescribeCloudWatchDataList
              payload: {"namespace": "AWS/RDS"}
              name: metric
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    label:
                      type: string
                      description: >-
                        The label of the option in the drop-down box. If the
                        value is empty, use the value as the label.
                    value:
                      type: string
                      description: The value of the option in the drop-down box.
                  required:
                    - value
              examples:
                '1':
                  summary: Success
                  value:
                    - {"label": "CPUUtilization", "value": "CPUUtilization"}
                    - {"label": "DiskReadIOPS", "value": "DiskReadIOPS"}
                    - {"label": "memory_freeutilization", "value": "memory_freeutilization"}
  /query:
    post:
      summary: Query
      description: Returns metrics data
      operationId: api.endpoints.query
      tags:
        - Visualization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                panelId:
                  oneOf:
                    - type: string
                      example: Q-1599986187842-0.164611811105138-0
                    - type: number
                      example: 1
                range:
                  type: object
                  properties:
                    from:
                      type: string
                      format: date-time
                    to:
                      type: string
                      format: date-time
                    raw:
                      $ref: '#/components/schemas/raw-time-frame'
                rangeRaw:
                  $ref: '#/components/schemas/raw-time-frame'
                interval:
                  type: string
                  example: 30s
                intervalMs:
                  type: number
                  example: 5500
                maxDataPoints:
                  type: number
                  example: 50
                targets:
                  type: array
                  items:
                    type: object
                    required: [target]
                    properties:
                      target:
                        type: string
                        example: "upper_25"
                      refId:
                        type: string
                      payload:
                        description: arbitrary "additional data" the user can pass in
                        type: object
                scopedVars:
                  type: object
                  example:
                    __interval: {'text': '1s', 'value': '1s'}
                    __interval_ms: {'text': 1000, 'value': 1000}
                adhocFilters:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        example: City
                      operator:
                        type: string
                        example: "="
                      value:
                        type: string
                        example: Berlin
      responses:
        '200':
          description: "Can be a 'timeseries' or 'table' response"
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - type: object
                      description: timeseries case
                      required: ["target", "datapoints"]
                      properties:
                        target:
                          type: string
                          example: "upper_25"
                        datapoints:
                          type: array
                          example: [ [2.5, 1557385723416], [3.5, 1557385731634] ]
                          items:
                            type: array
                            description: First value is Metric value as a float.
                                          Second values is unix timestamp in milliseconds
                            minItems: 2
                            maxItems: 2
                            items:
                              type: number
                    - type: object
                      description: table case
                      required: ["type", "columns", "rows"]
                      properties:
                        type:
                          type: string
                          enum: ["table"]
                        columns:
                          type: array
                          items:
                            type: object
                            required: ["text"]
                            example:
                              - {"text": "Time", "type": "time"}
                              - {"text": "Country", "type": "string"}
                              - {"text": "Value", "type": "number"}
                            properties:
                              text:
                                type: string
                              type:
                                type: string
                        rows:
                          type: array
                          example: [[1557385723416,"SE",123], [1557385731634,"SE", 456]]
                          items:
                            anyOf:
                              - type: string
                              - type: number
  /tag-keys:
    post:
      summary: Keys for ad hoc filters
      description: returns possible keys for ad hoc filters
      operationId: api.endpoints.tag_keys
      tags:
        - Ad Hoc Filters
      responses:
        '200':
          description: List of ad hoc filter keys
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    text:
                      type: string
                example:
                  - {"type":"string","text":"City"}
                  - {"type":"string","text":"Country"}
  /tag-values:
    post:
      summary: Values for ad hoc filters
      description: returns possible values for ad hoc filters
      operationId: api.endpoints.tag_values
      tags:
        - Ad Hoc Filters
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [key]
              properties:
                key:
                  type: string
      responses:
        '200':
          description: A valid response
components:
  schemas:
    raw-time-frame:
      type: object
      properties:
        from:
          type: string
          example: now-1h
        to:
          type: string
          example: now
